body {
    font-family: Arial, sans-serif;
    background-color: rgb(19, 24, 41);
    min-height: 10vh;
    min-width: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
    margin-top: 20px;
    margin-left: 20px;
  display: flex;
  gap: 10px; 
  width: 100%;
  justify-content: left;
}

h1 {
    color: #c9c9c9;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e2ae04;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc9d03;
}

button:active {
    background-color: #002346;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 350px;
    display: flex;  
    flex-direction: column;

}

li {
    background-color: rgb(179, 108, 27);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(182, 97, 0);
    color: #f3f3f3;
    display: flex;
    align-items: center;
    font-weight: bold;
    word-break: break-word;
}


.delete-btn {
    background: rgba(228, 63, 63, 0.87);
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    margin-right: 5px;
    flex-shrink: 0;

}

.delete-btn:hover {
    background: rgba(161, 0, 0, 0.897);
}

.delete-btn:active {
  background-color: #002346;
}

.edit-btn {
    background: transparent;
    border: none;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
    margin-left: auto;
    flex-shrink: 0;
}

.search-container {
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    gap: 10px; 
    width: 100%;
    justify-content: space-around;
}

.corpo-inteiro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin: 0 auto;
    background-color: rgb(25, 32, 58);
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 150px;
    box-sizing: border-box;
}

.filter-container {
    margin-top: 20px;
    gap: 10px; 
    width: 100%;
    justify-content: normal;
}


span{
    width: 100%;
}