body {
    font-family: Arial, sans-serif;
    background-color: rgb(19, 24, 41);
    min-height: 10vh;
    min-width: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-container {
  display: flex;
  gap: 10px; 
  width: 100%;
  justify-content: center;
}

h1 {
    color: #c9c9c9;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #e2ae04;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #cc9d03;
}

button:active {
    background-color: #002346;
}

ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    width: 350px;
    display: flex;  
    flex-direction: column;
    align-items: left;
}

li {
    background-color: rgb(179, 108, 27);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid rgb(182, 97, 0);
    color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.delete-btn {
    background: rgba(228, 63, 63, 0.87);
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 4px;
}

.delete-btn:hover {
    background: rgba(161, 0, 0, 0.897);
}

.delete-btn:active {
  background-color: #002346;
}